<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AiMiTodayExtensionVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>YuanXin_Project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5032E2081BA6933C00EEAD4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8626D6391DD59A8900E3A15A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>865C9F521C97D74000704A4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>868D58381CAD128400C70753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
